# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Production
build/
dist/

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Docker
docker-compose.override.yml
